

.wordsBox{
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 60vh;
    margin: 25px;
    padding-bottom: 10px;
    box-shadow:inset 0 1px 5px rgb(198, 197, 197);
    /* box-shadow:inset 0 1px 5px rgb(255, 247, 222); */
}
.wordsBox::-webkit-scrollbar{ 
    display:none; 
}
.plusBtn{
    margin:0 auto;
    display: flex;
    vertical-align: middle;
}